@charset "UTF-8";

* {
	margin: 0;
	padding: 0;

}

html {
	/* 사용자 설정 문자 크기 그대로 반영 되도록 */
	font-size: 100%;
}

body {
	/* color: #432; */
	line-height: 2.0;
	align-content: center;

}

img {
	max-width: 100%;
}

.logo {
	/* width: 210px; */
	margin-top: 42px;
}

li>a {
	text-decoration: none;
	color: #000;
}

.main-nav>li>a {
	/* font-family: 'Gothic A1', sans-serif; */
	font-weight: bolder;
	/* font-family: 'Nanum Gothic', sans-serif; */
	font-family: 'Gowun Batang', serif;
}

/* -----------------------------------------------------------------------------------------------  */
.container {
	min-width: 1280px;
	width: 1280px;
	margin: 0 auto;

}

.main-nav {
	list-style: none;
	font-size: 17px;
	display: flex;
	margin-top: 50px;
	padding-bottom: 20px;
}

/* 내비 li 여백 */
.main-nav li:not(:first-child) {
	margin-left: 30px;
}

.main-nav li:nth-child(2) {
	margin-left: 100px;
}

/* 내비 a 태그 */
.main-nav a {
	
	font-size: 17px;
}

.main-nav a:hover {
	color: rgb(135, 211, 124);
}


/* 로고 내비 수평 정렬 */
.page-header {
	display: flex;
	justify-content: center;
}


/* 콘텐츠의 최대 출력 너비 설정 */
.wrapper {
	width: 100%;
	height: auto;
}

/* 로그인버튼 */
.login {
	margin-left: 170px;
	border: none;
	font-size: 15px;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	color: #000;
	/*  font-family: 'Gothic A1', sans-serif;  */
	/*  font-family: 'Nanum Gothic', sans-serif;  */
	/*  font-family: 'Gowun Batang', serif; */
	font-family: 'Nunito', sans-serif;
}

/* 마이페이지 버튼 */
.after {
	margin-left: 170px;
	background-color: rgb(135, 211, 124);
	color: white;
}

/* ----------------------------------------------------------검색창 css------------------------------------------------------------------------ */
.search__input {
	width: 100%;
	padding: 12px 15px;
	position: relative;
	background-color: transparent;
	transition: transform 250ms ease-in-out;
	font-size: 14px;
	line-height: 18px;
	color: #575756;
	background-color: transparent;
	background-image:
		url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 95% center;
	border-radius: 50px;
	border: 1px solid #575756;
	backface-visibility: hidden;
	transform-style: preserve-3d;
}

.search__input::placeholder {
	color: color(#575756 a(0.8));
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.search__input:hover, .search__input:focus {

	transition: all 350ms ease-in-out; 
	padding: 12px 0;
	margin:0 15px;
	outline: 0;
	border: 1px solid transparent;
	border-bottom: 1px solid #575756;
	border-radius: 0;
	background-position: 100% center;
}

/* ---------------------------------푸터----------------------------------------------------------- */
footer {
	display: flex;
	background: rgb(250, 248, 248);
	color: rgb(66, 66, 66);
	color: #575756;
	padding: 20px 0;
}

.footer_content {
	margin-left: 60px;
	margin-top: 20px;
}

footer .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

footer p {
	/* color: #432; */
	font-size: 0.700rem;
	/* font: large; */
}

.footer_logo {
	width: 200px;
	height: 60px;
}

.footer_content {
	position: relative;
	right: 50px;
	margin-left: 50px;
}

.text {
	position: relative;
	top: 25px;
}

.text>a {
	text-decoration: none;
	color: #575756;
}

.footer_list {
	position: absolute;
	top: 10px;
	right: 100px;
	list-style: none;
	display: flex;
}

.footer_list>li {
	margin-left: 50px;
}

.number {
	margin-top: 10px;
}

.team {
	position: absolute;
	margin-top: 5px;
}