@charset "UTF-8";

.item_imgBox { /* 이미지 div에 꽉채우는 방법  */
	position: relative;
	width: 100%;
	height: 100%;
}

.slider {
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0 auto;
}

.slider input[type=radio] {
	display: none;
}

ul.imgs {
	padding: 0;
	margin: 0;
}

ul.imgs img {
	position: absolute;
	top: 0;
	left: 0; /* 이미지 div에 꽉채우는 방법  */
	width: 100%;
	height: 100%;
}

ul.imgs li {
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	list-style: none;
	transition-delay: 0.9s;
}

.bullets {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -50px;
	z-index: 2;
}

.bullets label {
	display: inline-block;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.55);
	width: 15px;
	height: 15px;
	cursor: pointer;
}

.slider input[type=radio]:nth-child(1):checked ~.bullets>label:nth-child(1)
	{
	background-color: rgb(135, 211, 124);
}

.slider input[type=radio]:nth-child(2):checked ~.bullets>label:nth-child(2)
	{
	background-color: rgb(135, 211, 124);
}

.slider input[type=radio]:nth-child(3):checked ~.bullets>label:nth-child(3)
	{
	background-color: rgb(135, 211, 124);
}

.slider input[type=radio]:nth-child(4):checked ~.bullets>label:nth-child(4)
	{
	background-color: rgb(135, 211, 124);
}

.slider input[type=radio]:nth-child(1):checked ~ul.imgs>li:nth-child(1)
	{
	opacity: 1;
	transition: 1s;
	z-index: 1;
}

.slider input[type=radio]:nth-child(2):checked ~ul.imgs>li:nth-child(2)
	{
	opacity: 1;
	transition: 1s;
	z-index: 1;
}

.slider input[type=radio]:nth-child(3):checked ~ul.imgs>li:nth-child(3)
	{
	opacity: 1;
	transition: 1s;
	z-index: 1;
}

.slider input[type=radio]:nth-child(4):checked ~ul.imgs>li:nth-child(4)
	{
	opacity: 1;
	transition: 1s;
	z-index: 1;
}

/* 좌,우 슬라이드 버튼 */
.slider input[type=radio]:nth-child(1):checked ~.slide-control>div:nth-child(1)
	{
	display: block;
}

.slider input[type=radio]:nth-child(2):checked ~.slide-control>div:nth-child(2)
	{
	display: block;
}

.slider input[type=radio]:nth-child(3):checked ~.slide-control>div:nth-child(3)
	{
	display: block;
}

.slider input[type=radio]:nth-child(4):checked ~.slide-control>div:nth-child(4)
	{
	display: block;
}

.slide-control>div {
	display: none;
}